bin/

####BuILD PRODUCTS######

*.o
*.a
*.d
*.lck
*.s#3
*.s#2
*.s#1
*.gpi
*.s#5
*.s#4
*.dri
*.b#6
*.b#4
*.b#3
*.TXT
*.GBL
hw/output.GBO
hw/output.GBS
hw/output.GTL
hw/output.GTO
hw/output.GTP
hw/output.GTS
hw/output.b#1
hw/output.b#2
hw/output.b#5
